{% extends 'layout.html' %} {% block head %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>About</title>
    <meta name="description" content="A portfolio of my work" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  {% endblock %} {% block content %}
  <section class="header">
    <h1>Kate Johnson</h1>
    <p>My goal is to use Python to build the next generation of cutting-edge technology.</p>
    <img
      src="/static/images/headshot.jpg"
      alt="Headshot of myself"
    />
  </section>
  <section id="about-page">
    <div id="triangle7"></div>
    <div id="triangle8"></div>
    <h2>Bio</h2>
    <p>
      When I graduated from the University of North Carolina at Chapel Hill with a master's degree focusing on the metaverse and Columbia University School of Engineering, I knew I wanted to apply my coding skills to innovative technology. I immediately fell in love with Python and all the inventive possibilities the language offers. I plan to use my Python skills to break new ground in Web2 and Web3.
    </p>
    <p>
      I am a blockchain software engineer and well-versed in the full stack of multiple Web2, Web3, and mobile programming languages. I specialize in blockchain engineering and Web3 development using Solidity, Vyper, Foundry, and Hardhat. I am a highly self-motivated and hard-working individual who enjoys teamwork and collaboration. Coding is my passion, and I feel truly lucky to be able to do what I love every day.
    </p>
    <p>
      Core Languages: Solidity, TypeScript, Python, JavaScript, Ruby, Vyper
    </p>
    <a href="/static/resume.pdf" download="KateJohnsonResume"><i class="far fa-file"></i>Resume</a>
  </section>
  {% endblock %}
