{% extends 'layout.html' %} {% block head %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Python Portfolio</title>
    <meta name="description" content="A portfolio of my Python work" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  {% endblock %} {% block content %}
    <section class="header">
      <h1>Python Developer</h1>
      <p>Hi, my name is Kate and I have a passion for 1's and 0's. I love coding and feel truly lucky to be able to do what I love every day.</p>
      <img
        src="/static/images/cartoon-me.png"
        alt="Headshot of myself"
      />
    </section>
    <section id="about">
      <a href="{{ url_for('about') }}"><h2>About Me</h2></a>
      <p>
        I am a highly self-motivated and hard-working individual who also enjoys teamwork and collaboration. I am a blockchain software engineer and well-versed in the full stack of multiple Web2, Web3, and mobile programming languages. This is my portfolio displaying my Python projects.  If you are interested in my Web3 projects, click <a href="https://k-g-j.github.io/kate3.0/" target="_blank">here.</a>
      </p>
      <div id="triangle1"></div>
      <div id="triangle2"></div>
    </section>
    <section id="skills">
      <i class="fas fa-laptop-code"></i>
      <h2>Skills</h2>
      <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>SQLAlchemy</li>
        <li>TypeScript</li>
        <li>JavaScript</li>
        <li>Solidity</li>
        <li>MERN Stack</li>
        <li>Git</li>
      </ul>
    </section>
    <section id="projects">
      <div id="triangle3"></div>
      <i class="fas fa-file-code"></i>
      <h2>Projects</h2>
      <div id="project-list">
        {% for project in projects %}
        <div id="project{{projects.index(project) + 1}}" class="a-project">
          <a href="{{ url_for('project', id=project.id) }}"><h3>{{ project.title }}</h3></a>
          <a href="{{ project.repo_link }}" class="github-btn" target="_blank">
            <i class="fab fa-github"></i>
            View on GitHub
          </a>
          <p>
            {{ project.description.split('.')[0] }}
          </p>
          <p>
            Skills: {{ project.skills }}
          </p>
        </div>
        {% endfor %}
      </div>
      <div id="triangle4"></div>
    </section>
    <section id="contact">
      <i class="fas fa-paper-plane"></i>
      <h2>Contact Me</h2>
      <p>
        Feel free to get in touch! 👋
      </p>
      <p>
        <a href="mailto:johnson.kat.g@gmail.com">
        <i class="fas fa-envelope"></i>
        johnson.kat.g@gmail.com
        </a>
      </p>
    </section>
    {% endblock %}
